@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-locker-black text-white; 
  overflow-x: hidden;
}

/* Scrollbar personalizada naranja */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #FF6B00;
  border-radius: 4px;
}